<!DOCTYPE html>
<html>
<head>
	<title>Ahorcado</title>
</head>
<body>
 <form action="/" method="POST">
	<br>
	<input type="text" name="letra" size="3"><br>
	<input type="submit" name="probar" value="probar"><br><br>
	<%= @resultado %>
	<h2>_ _ _ _ _ _</h2><br>
	
 </form>
</body>
</html>