<!DOCTYPE html>
<html>
<head>
	<title>Ahorcado</title>
</head>
<body>
	<br>
	<input type="text" name="letra" size="3"><br>
	<input type="submit" name="probar" value="probar"><br><br>
	<h2>_ _ _ _ _ _</h2>
</body>
</html>